<ion-header>
  <ion-toolbar>
    <ion-title>
      Create decision Matrix
    </ion-title>
    <ion-thumbnail slot="end">
        <ion-img [src]="'./assets/images/critical-thinking.png'" ></ion-img>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="field">
      <div class="field-label is-normal">
        <label class="label">Add decision lable</label>
      </div>
      <div class="control">
        <input class="input is-info" type="text" placeholder="Ex.Coffee decision">
      </div>
    </div>
    <div class="field">
      <div class="field-label is-normal">
        <label class="label">Frame your question</label>
      </div>
      <div class="control">
        <input class="input is-info" type="text" placeholder="Ex.Should I drink coffee today?">
      </div>
    </div>
    
    <a class="button is-success is-focused is-fullwidth" (click)="presentActionSheet()">Select a algorithm</a>
    <a class="button is-secondary outline is-fullwidth" (click)="goBack()">Go back</a>
    
  </div>

</ion-content>