<ion-header>
  <ion-toolbar>
    <ion-title>
      Decision Matrix
      
    </ion-title>
    <ion-thumbnail slot="end">
        <ion-img [src]="'./assets/images/critical-thinking.png'" ></ion-img>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      
      <ion-item *ngFor="let  matrix of matricies">
        <a class="button is-primary">{{matrix.title}}</a>
      </ion-item>
      
      
      
    </ion-list>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>